PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASS=coloca_aqui_a_tua_password
DB_NAME=ellas_store
JWT_SECRET=gera_com_node_-e_console.log(require('crypto').randomBytes(64).toString('hex'))
ALLOWED_ORIGIN=http://localhost:5500
NODE_ENV=development
STRIPE_SECRET_KEY=sk_test_coloca_a_tua_chave_de_teste_aqui
STRIPE_WEBHOOK_SECRET=whsec_coloca_o_teu_segredo_de_webhook_aqui
FRONTEND_URL=http://localhost:5500
